
<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
    var nameApp=angular.module("nameApp", []);
    nameApp.controller('nameCtrl',function nameCtrl($scope){
      $scope.user={};
      $scope.user.firstname="Alby";
      $scope.$watch('lastName', function(newValue, oldValue){
      console.log('new value is ' + newValue);
    });
    });
    </script>
  </head>
  <body ng-controller="nameCtrl">
  Name:<input type="text" ng-model="user.firstname">
    Name:<input type="text" ng-model="user.lastname">
  Hello {{user.firstname}} {{user.lastname}}
  </body>
  </html>
