<html ng-app="countryApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
      
      var countryApp = angular.module('countryApp', []);
      countryApp.controller('countryCtrl',['$scope','$http',function (scope,http){
      http.get('../data/countries.json').success(function(data){
      scope.countries = data;
      addPopulation();
      });
     
      }]);
      scope.addPopulation = function(){
        var total=0;
          for(var i=0; i < scope.countries.length; i++){
            total = total + scope.countries.population;
            //console.log(total);
          }
          return total;
        }
    </script>
  </head>
  <body ng-controller="countryCtrl">
  Search : <input type="text" ng-model="query">
  <table>
  <tr>
  <th>S.No</th>
  <th><a href="" ng-click="sortField = 'name'" >Country</a></th>
  <th><a href="" ng-click="sortField = 'population'">Population</a></th>
  </tr>
  <tr ng-repeat="x in countries | filter:query | orderBy:sortField">
  <td>{{$index+1}}</td>
  <td>{{x.name}}</td>
  <td>{{x.population}}</td>
  </tr>
  </table>
  <p>Total population : {{total}}</p>
  </body>
</html>
