<div class="col-md-12" ng-controller="DeliverydisplayCtrl">
<div id='cssmenu'>
<ul>
<li class='last'><a href="#/homeCtr"><span>Home</span></a></li>
<li class='active has-sub'><a href="#/menu"><span>Menu<span></a></li>
<li class='last'><a href="#/signUp"><span>Register<span></a></li>
<li class='last'><a href="{{loglink}}"><span>{{logstatus}}<span></a></li>
</ul>
</div>
<center><h1>PizzaOn</h1></center>
<div style="margin-left:600px; color:orange"><h4><I>Always Hot & Fresh</I></h4></div><br/>
<div id='hdiv'></div><br/><br/>
<div style="position: relative;
  margin-top:-20px;
  margin-left:120px;
  padding: 20px 20px 20px;
  width: 650px;
  background: #ADEBFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);">
  <center><h3>Delivery Details</h3></center><br/><br/>
  <p style="color:blue"><strong>User Details :</strong></p>
  <p>{{userData.name}}</p>
  <p>Delivery Address: </p>
  <div style="margin-left:30px">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userData.address1}}<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userData.address2}}<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userData.city}}<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userData.state}}<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userData.pincode}}<br/>
  </div>
  <br/><br/>
  <p style="color:blue"><strong>Order Details :</strong></p>
  <img src={{itemData.image}} width="220px" height="120px">
  <p>{{itemData.itemname}}</p>
  <p>Size: {{itemData.size}}</p>
  <p>Ingredients:{{itemData.Ingredients}}</p>
  <p>Price: <img src="rs.png" width="20px" height="12px">{{itemData.price}}</p>
  <p>Quantity: <input type="text" placeholder="Quantity" name="quantity" ng-model="itemData.quantity" required=""/>
  <br/><br/>
  <center>
  <p>Total Amount:<label>{{itemData.quantity*itemData.price}}</label></p>
  <input type="image" src="check1.jpg" name="submit"   width="100px" height="50px" ng-click="submit(itemData)"/>
  </center>
  </div>
  <br/>
  <div id='cssmenu'><center><br/>Designed By: Alby Joseph</center></div>
</div>
